body{
    background-color: #C7C6B4 ;
    height: 100%;
}

/*Selects*/
select{
    background-color: #A4B096;
    border-radius: 20px;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/*Divs*/

.janela{
    width: 80%;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
.divContent{
    gap: 20px;
}
.divSelect{
    display: flex;
    justify-content: flex-end;
}
.divLogo{
    display: flex;
    justify-content: flex-end;
}
.divAlertas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.divAlertas div{
    width: 31%;
    background-color: #A4B096;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.divGraficos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.divTemperatura, .divUmidade{
    background-color: #A4B096;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
}
.divGraficoTemperatura, .divGraficoUmidade{
    background-color: #E2F0D9;
    border-radius: 10px;
    width: 70%;
    padding: 5px;
}
.divGraficoLegenda{
    display: flex;
    gap: 20px;
}
.label-captura{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.divLegenda{
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
}
.divLegenda img{
    width: 20px;
    height: 20px;
}
.divLegenda label{
    display: flex;
    gap: 10px;
    align-items: center;
}
/*Textos*/
p,h1{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 18px;
}

/*Imagens*/
.divLogo img{
    width: 120px;
}