@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Noto+Sans:wght@300&display=swap');

*{margin: 0; padding: 0;}

/*logo que esta no menu*/
#divMenu img{
    padding-left: 20px;
    width: 150px;
}

/*menu*/
#divMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    gap: 50px;
    position: relative;
    width: 100%;
    height: 80px;
    background: #A4B096;
    align-items: center;
}

/*UL do menu*/
ul{
    font-family: Noto Sans;
    font-size: 23px;
    gap: 30px;
    display: flex;
    justify-content: row;
    list-style: none;
    align-items: center;
}

/*Botões na parte da direita*/
.btnLoginIn{
    background-color: #A4B096;
    padding: 5px;
    font-size: 20px;
    border: 3px solid #072953;
    border-radius: 100px;
    font-weight: 500;
}
.btnSignUp{
    background-color: #072953;
    border: 3px solid #072953;
    border-radius: 100px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

/*Confirgurações para zoom*/
.liZoom{
    transition: all 0.5s;
}
.liZoom:hover{
    transform: scale(1.2);
}

/*Configurações dos "A"*/
.btnSignUp a{
    font-weight: 500;
    text-decoration: none;
    color: #A4B096;
}
a{
    font-weight: 500;
    text-decoration: none;
    color: #072953;
}