@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}
.bold {
  font-weight: bold;
  break-after: none;
}

#divLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#divEsquerda {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  background: #a4b096;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
#divVoltar{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 15px;
    color: #072953;
    font-weight: 900;
}
#divTexto {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  font-size: 20px;
  gap: 20px;
}
#divDesc {
  width: 80%;
  font-size: 30px;
  gap: 20px;
  color: #072953;
}

#titulo {
  font-weight: 900;
  font-size: 35px;
  color: #072953;
}
#divDireita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 50%;
  height: 100%;

  background: #c7c6b4;

  /* 
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center; */
  /* padding: 0px 0px 11px; */
  /* gap: 50px; */
}

#divContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 25px;
}
.divInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.txtInput {
  font-size: 20px;
  font-weight: bold;
  color: #072953;
}

.input {
  width: 100%;
  height: 50px;

  border: 3px solid;
  border-radius: 10px;
  border-color: #072953;
  padding: 10px;
  background: #d5d4c6;  
}

.input::placeholder{
    color: #0000005d;
    font-size: 15px;
    font-weight: bold;
}
#btnEntrar{
    width: 100%;
    height: 50px;
    background: #A4B096;
    border: 3px solid #0000005d;
    border-radius: 10px;
    color: #072953;
    font-size: 20px;
    font-weight: bold;
}