body {
    margin: 0;
    /* Casdastro De Empresas */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 100vw;
    height: 100vh;

    background: #D9D9D9;
}

.div_pai {
    /* Corpo */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: auto;
    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.container-1 {
    /* Lado Esquerdo */
    width: 50vw;
    height: 100vh;
    background: #A4B096;
    justify-content: space-around;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.div_menu a {
    text-decoration: none;
    /* < Voltar ao menu */
    position: absolute;
    width: 541px;
    height: 50px;
    left: 85px;
    top: 80px;
    font-family: 'Noto Sans Thai UI';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-indent: 1px;
    color: #072953;
}

h2 {
    position: absolute;
    width: 542px;
    height: 320px;
    left: 86px;
    top: 250px;

    font-family: 'Noto Sans Thai UI';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    text-indent: 1px;
    text-transform: capitalize;

    color: #072953;
}

sub {
    position: absolute;
    width: 542px;
    height: 320px;
    left: 86px;
    top: 450px;

    font-family: 'Noto Sans Thai UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-indent: 1px;

    color: #072953;
}

.space-1 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 18px;
    width: 1px;
    height: 98vh;
    background: #C7C6B4;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

.container-2 {
    /* Lado direito */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 11px;
    gap: 50px;
    width: 50vw;
    height: 100vh;
    background: #C7C6B4;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.ipts {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
    gap: 20px;
    width: 746px;
    height: 845px;
    justify-content: space-around;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.div_empresa {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 646px;
    height: 114px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    /* Nome da Empresa */
    width: 646px;
    height: 34px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 23px;
    line-height: 31px;
    text-indent: 1px;
    color: #072953;
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_empresa {
    box-sizing: border-box;
    width: 646px;
    height: 65px;
    background: #D5D4C6;
    border: 2px solid #072953;
    border-radius: 15px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_empresa::placeholder {
    position: absolute;
    width: 203px;
    height: 31px;
    left: 12px;
    top: 17.5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.45);
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;
}

.div_cliente {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 646px;
    height: 114px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* Nome do Cliente */
    width: 646px;
    height: 34px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 23px;
    line-height: 31px;
    text-indent: 1px;
    color: #072953;
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_cliente {
    box-sizing: border-box;
    width: 646px;
    height: 65px;
    background: #D5D4C6;
    border: 2px solid #072953;
    border-radius: 15px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_cliente::placeholder {
    /* Nome do Cliente */
    position: absolute;
    width: 214px;
    height: 34px;
    left: 12px;
    top: 17.5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.45);
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;
}

.div_email {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 646px;
    height: 109px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    /* Email */
    width: 646px;
    height: 34px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-indent: 1px;
    color: #072953;
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_email {
    box-sizing: border-box;
    width: 646px;
    height: 65px;
    background: #D5D4C6;
    border: 2px solid #072953;
    border-radius: 15px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_email::placeholder {
    /* Email */
    position: absolute;
    width: 406px;
    height: 31px;
    left: 12px;
    top: 17px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.45);
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;
}

.div_cnpj {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 646px;
    height: 109px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

    /* CNPJ */
    width: 646px;
    height: 34px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-indent: 1px;
    color: #072953;
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_cnpj {
    box-sizing: border-box;
    width: 646px;
    height: 65px;
    background: #D5D4C6;
    border: 2px solid #072953;
    border-radius: 15px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_cnpj::placeholder {
    /* CNPJ */
    position: absolute;
    width: 203px;
    height: 31px;
    left: 12px;
    top: 17.5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.45);
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;
}

.div_senha {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 646px;
    height: 109px;

    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

    /* Senha */
    width: 646px;
    height: 34px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-indent: 1px;
    color: #072953;
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_senha {
    box-sizing: border-box;
    width: 646px;
    height: 65px;
    background: #D5D4C6;
    border: 2px solid #072953;
    border-radius: 15px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_senha::placeholder {
    /* Senha */
    position: absolute;
    width: 203px;
    height: 31px;
    left: 12px;
    top: 17.5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.45);
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;
}

.div_confirmacao {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 646px;
    height: 109px;

    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

    /* Confirmação de Senha */
    width: 646px;
    height: 34px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-indent: 1px;
    color: #072953;
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_confirmacao {
    box-sizing: border-box;
    width: 646px;
    height: 65px;
    background: #D5D4C6;
    border: 2px solid #072953;
    border-radius: 15px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#ipt_confirmacao::placeholder {
    /* Conf senha */
    position: absolute;
    width: 203px;
    height: 31px;
    left: 12px;
    top: 17.5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 673;
    font-size: 25px;
    line-height: 34px;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.45);
    font-stretch: 100;
    font-variation-settings: 'CTGR' 0;
}

.div_btn {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 10px;
    width: 646px;
    height: 61px;

    /* Inside auto layout */
    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
}

.div_btn button {
    /* Criar conta */
    width: 646px;
    height: 61px;
    font-family: 'Noto Sans Thai UI';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    text-indent: 1px;
    color: #072953;
    background: #A4B096;
    border: 2px solid rgba(0, 0, 0, 0.45);
    border-radius: 15px;

    /* Inside auto layout */
    flex: none;
    order: 7;
    flex-grow: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ACAB90;
    width: 100%;
    height: 288px;
    gap: 50px;
}

.divLinha{
    width: 5px;
    height: 240px;
    background: rgba(4, 25, 50, 0.3);
}