@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}
.texto{
  gap: 10px;
}
#divProduto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#divTitulo{
  display: flex;
  justify-content: flex-start;
  margin-right: 255px;
}
#titulo{
  color: #072953;
  font-weight: 900;
  font-size: 60px;
  
}
#divTexto {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    font-size: 20px;
    gap: 30px;
    color: #072953;
}
    #divEsquerda {
    display: flex;
    width: 50%;
    height: 100%;
    background: #a4b096;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
  #divVoltar{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 15px;
    color: #072953;
    font-weight: 900;
    margin-right: 400px;
}
#divDireita {
  position: relative;
  display: flex;
    width: 50%;
    height: 100%;
    background: #c7c6b4;
    flex-direction: column;
}
#selo{
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  opacity: 0.1;
}
.imagem{
  width: 90px;
  height: 90px;
  margin: 30px;
  gap: 100px;
}
img{
  width: 100%;

}
.preco{
  font-size: 25px;
  font-weight: bold;
}
.divItens{
  display: flex;
  gap: 1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.divDesc{
  display: flex;
  flex-direction: column;
}
.txtDesc{
  font-style: normal;
}