/*Div onde fica os H1 na parte de cima da direita*/
.divTituloDireita{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Div onde pegas os inputs menores*/
.divInputMenor{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Div que determina o tamanho desses inputs menores*/
.divInputMenor div{
    width: 48%;
}

/*div onde fica os botoes Proximo e Voltar*/
.divBtnProximo{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divBtn {
    width: 50%;
    justify-self: center;
    align-self: center;
}