/*Div onde fica os H1 na parte de cima da direita*/
#divTituloDireita{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*div do Botão Proximo que fica na parte debaixo da direita*/
.divBtnProximo{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: right;
}