/*configuração da parte de perfis*/
p,
h1 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
}

.divPerfis {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.divPerfis>div {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.divPerfis>div div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.divPerfis img {
    width: 100px;
    border-radius: 50%;
}

/*Div do adm formulario*/
.divVerdes {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #A4B096;
    border-radius: 20px;
    gap: 20px;
}

.divTitulo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.divInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divInputs>div {
    display: flex;
    justify-content: space-between;
}

.divInputsMetade {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-weight: 600;
    justify-content: center;
}

.divVerdes img {
    width: 50px;
    height: 50px;
}

.divInputsInteiro {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 600;
    justify-content: center;
}

.input {
    height: 35px;
}

select {
    background-color: #d5d4c6;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    color: #66655d;
    padding: 5px;
    border: 3px solid #072953;
}

.divEspacamento {
    width: 100%;
    height: 5%;
}


