@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Noto+Sans:wght@300&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    color: #072953;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}

/* Content */
.divContent {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* /Content */
/* Esquerda */
.divEsquerda {
    width: 50%;
    height: 100%;
    background-color: #A4B096;
}

.divEsquerda .divContent {
    align-items: start;
    justify-content: center;
}

.divEsquerda .divContent a {
    text-decoration: none;
    font-size: 30px;
}

.divEsquerda .divContent h1 {
    font-size: 50px;
}

.divEsquerda .divContent p {
    font-size: 30px;
}

/* /Esquerda */
/* Direita */
.divDireita {
    width: 50%;
    height: 100%;
    background-color: #C7C6B4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Imagem de Fundo */
.divDireita .divSelo{
    background-image: url(../../../assets/seloPng.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
}
/* /Imagem de Fundo */
/* Produtos */
.divDireita .divContent{
    justify-content: space-around;
    align-items: center;
}
.divProdutos{
    width: 100%;
    display: flex;
    gap: 1%;
}
.divProdutos img{
    object-fit: contain;
}
.divTexto{
    display: flex;
    flex-direction: column;
}
.divTexto h1{
    width: 100%;
    color: #000000;
}
.divTexto li{
    width: 100%;
    font-size: 25px;
    color: #000000;
}
/* /Produtos */

/* /Direita */