/*background-color: #C7C6B4;
border: solid 1px #072953;
background-color: #A4B096; verde*/

body{
    background-color: #C7C6B4 ;
}
.divContainerDashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divSelect{
    display: flex;
    justify-content: space-between;
}

select{
    background-color: #A4B096;
    border-radius: 20px;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.divSelect{
    display: flex;
    justify-content: flex-end;
}
.divLogo img{
    width: 120px;
}
.divLogo{
    display: flex;
    justify-content: flex-end;
}